@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this in your global CSS or in the component's CSS module */
.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; /* Full screen height */
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh; /* Full screen height for each section */
}


/* Add this CSS to your stylesheet */
.hide-scrollbar {
  overflow: hidden; /* Prevents the scrollbar from appearing */
}

/* For WebKit browsers like Chrome and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* For Internet Explorer and Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* Hides the scrollbar */
}
@layer base {
  :root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
  }
  .dark {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
